

.projects {
  padding: 12vh 50px;
  text-align: center;
}
.link {
  padding: 10;
}

h1 {
  font-family: 'Dancing Script';
  font-weight: 500;
  color: black;
  line-height: 46px;
  font-size: 42px;
  margin: 0 0 23px 0;
}

h2 {
  font-family: 'EB Garamond', serif;
  font-weight: normal;
  color: black;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 23px;
  letter-spacing: 2px;
  margin: 0 0 23px 0;
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
  line-height: 23px;
  margin: 0 0 23px 0;
}

#home {
  background-image: url(images/mwa.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding: 0;
}
#cont{
  padding: 0;
  padding-left: 0;
  padding-right: 0;
}
#ra{
  padding-left: 0;
  padding-right: 0;
}
.footer{
  background-image: url(images/mwa.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  /*padding: 0;*/
padding: 12vh 50px;
}
